<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cash/8.0.0/cash.min.js"></script> <!--Cash.js-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> <!--Vue.js-->
    <script src="me.js"></script> <!--main-->
    <link rel="stylesheet" type="text/css" href="style.css">  <!--style-->
    <link rel="stylesheet" type="text/css" href="mobile-style.css">  <!--style-->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ffd53d">
    <link rel='manifest' href='/landing-page/manifest.json'>
    <title>j-osephlong</title>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138172240-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-138172240-1');
    </script>

    <script type="module">
        import 'https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate';
        const el = document.createElement('pwa-update');
        document.body.appendChild(el);
    </script>
</head>
<body>
    
    <div id="app">
        <div id="title">JOSEPH LONG</div>

        <div id="container-box" v-bind:class="[state === 'code' || state === 'music' ? 'fill' : '', state === 'music' ? 'music' : '']"> <!-- fill subclass for mobile screens -->
            <div id="dir" class="sub-box" v-bind:class="state == 'dir' ? 'active' : ''">
                <h1>Directory</h1>
                <div class="button" onclick="app.state = 'me';pushBackState();moveTitle()"><b>/</b>me<b>/</b></div>
                <div class="button" onclick="app.state = 'code';pushBackState();"><b>/</b>my github projects<b>/</b></div>
                <div class="button" onclick="app.state = 'music';pushBackState();"><b>/</b>my music<b>/</b></div>
            </div>

            <div id="me" class="sub-box" v-bind:class="state === 'me' ? 'active' : ''">
                <div style="width: 100%;height: 3em;" id="title-spacer"></div>
                <div class="button" style="background-color: #f5f5f5;"><b>/</b>me<b>/</b></div>
                <div style="padding: 1vh;font-size: 1.2em;">
                    <p>I'm a third year CS student at UNBSJ, Canada. I develop software and write music in my spare time, when I have the time. 
                        <br><br>If you have any inqueries, feel free to email me <i>(link below)</i>.</p>
                </div>
                
                <div style="position: absolute;bottom: 3vh;left: 3vh;">
                    <a href='mailto:jlong6@unb.ca'>
                        <p style="display:block;font-size: 1em;">email me</p>
                    </a>
                    <a href='https://www.github.com/j-osephlong' target='_blank'>
                        <p style="display:block;font-size: 1em;">github</p>
                    </a>
                    <a href='https://www.soundcloud.com/joseph-long-13' target='_blank'>
                        <p style="display:block;font-size: 1em;">soundcloud</p>
                    </a>
                </div>
            </div>
            
            <div id="code" class="sub-box" v-bind:class="state === 'code' ? 'active' : ''">
                <h1>GITHUB PROJECTS</h1>
                <gh-project 
                    v-for="project in ghProjects"
                    v-bind:project="project">
                </gh-project>
            </div>

            <div id="music" class="sub-box" v-bind:class="state === 'music' ? 'active' : ''">
                <sc-song v-show="state === 'music'"
                    v-for="song in scLinks"
                    v-bind:link="song">
                </sc-song>
            </div>
        </div>

        <div id="nav-buttons" 
            v-bind:class="state !== 'dir' ? 'active' : ''">
            <div class="nav-button" v-bind:class="state === 'code' ? 'active' : ''">
                <a href='https://www.github.com/j-osephlong' target='_blank'>
                More on Github</a></div>
            <div class="nav-button" v-bind:class="state === 'music' ? 'active' : ''">
                <a href='https://www.soundcloud.com/joseph-long-13' target='_blank'>
                More on Soundcloud</a></div>
            <div class="nav-button active" id="back-button"
                onclick="app.state = 'dir';$('#title').css('top', '0px')">
                Back</div>
        </div>
    </div>

</body>
</html>

<!-- 
    
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    background-color: white;
    position: absolute;
    padding: 1vw;
    border-radius: 2em;
    width: 8%;
    text-align: center;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    transition: all .5s;
    z-index: -1;


    ACTIVE CLASS FOR bottom: 10%

-->