@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

/*
    font-family: 'Roboto', sans-serif;
    font-family: 'Copse', serif;
    font-family: 'Volkhov', serif;
    font-family: 'Amiri', serif;
    font-family: 'Inconsolata', monospace;
    font-family: 'Slabo 27px', serif;

    font-family: 'Monoton', cursive;
*/
html, body {
	margin: 0px;
    background-color: #ffd53d;
	height: 100%;
	width: 100%;
}

div.big-box
{
    background-color: white;
    position: absolute;

    width: 410px;
    height:410px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    transition: all .25;
}

.backgroundimg
{
    width:100%;height:100%;position:absolute;z-index: 0;opacity: 0;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    /* background-position: center center;   */
}

.title
{
    position: relative;
    text-align: center;
    padding-top: 2%;
    font-size: 40px;
    font-family: 'Libre Barcode 39 Text', cursive;

    /* transform: translate(0%, -150%); */
}

.highlight
{
    height: max-content;
    
    background: #ffd53d;
    padding-left: 2%;padding-right: 2%;
}

.header
{
    position: relative;
    text-align: center;
    padding-top: 5%;
    font-size: 40px;
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    
}

.list-item
{
    position: relative;
    width: max-content;
    height: min-content;
    padding-top: 5%;
    padding-left: 5%;
    font-size: 30px;
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
}

.tags
{
    position: relative;
}

.tag
{
    width: min-content;height:min-content;border-radius: 2.5rem;position: relative;color: white;
    padding: 5px;
    font-size: 14px;font-family: 'Roboto', sans-serif;
}